<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true" class="ion-margin-top">
    <ion-item button (click)="goToFeatureFlags()">
      <ion-icon slot="start" name="flag-outline" />
      <ion-label>
        <h2>Feature Flags</h2>
        <p>Demo Firebase Remote Config</p>
      </ion-label>
      <ion-badge color="tertiary">Demo</ion-badge>
      <ion-icon slot="end" name="chevron-forward-outline" />
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="construct-outline" />
      <ion-label>
        <h2>Configuracion general</h2>
        <p>Pendiente para siguiente iteracion</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div style="height:84px"></div>
  <app-bottom-nav activeTab="settings" />
</ion-content>
